body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-image: url("https://cdn.pixabay.com/photo/2017/09/16/16/09/sea-2755908_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

#nav {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: fixed;
  width: 100%;
  background-color: hsla(0, 100%, 90%, 0.4);
  font-size: 40px;
}

.nav-link {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  border-right-style: solid;
  color: black;
  font-weight: 600;
}

.nav-link:hover {
  background-color: hsla(0, 100%, 12%, 0.2);
  color: blue;
  border-color: black;
}

#main-section {
  font-weight: 600;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}

#intro {
  background-color: hsla(0, 90%, 90%, 0.2);
  padding: 2rem;
  border-radius: 10px;
}

#blog-entries{
  color:pink;
  font-weight: 600;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}

#blog-links {
  background-color: hsla(0, 90%, 90%, 0.2);
}

.blog-link{
padding:4px;
text-decoration: none;
border-radius:2px
}

.blog-link:hover{
  color:purple;
}